#!/usr/bin/env bash

# These are the settings for the target - source registry and realm are set on initial set up with docker run
# SOURCE REGISTRY: ${CONTECO_REGISTRY_ORIGIN}
# SOURCE REALM: ${CONTECO_REALM}
export INFOMETIS_REALM="im_user"
export INFOMETIS_REGISTRY="localhost:5000/"
export INFOMETIS_REGISTRY_PROTOCOL="http://"
